<!doctype html>
<html class="no-js" lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{{app.title|default("piTitle")}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ app.request.basepath }}/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ app.request.basepath }}/assets/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{{ app.request.basepath }}/assets/css/font-awesome.min.css">

</head>
<body>
{% include 'includes/_navbar.twig' %}
{% set notfound = app.request.basepath ~ "/assets/img/not-found.png" %}
{% set micro_notfound = app.request.basepath ~ "/assets/img/micro_not-found.png" %}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-push-8">
          <div class="row">
            <div class="col-md-12 col-xs-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Last sent image</h3>
                </div>
                <div class="panel-body" id="imgdisplay">
                    <img src="{{ notfound }}" class="img-responsive"/>
                </div>
            </div>
              </div>
            <div class="col-md-12 col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Last command result</h3>
                </div>
                <div class="panel-body" id="cmdresult">
                    <em>No command sent&hellip;</em>
                </div>
                <div class="panel-footer">Running <abbr title="FrameBuffer Images">FBI</abbr> instances : <span id="fbicount">X</span></div>
            </div>
            </div>
          </div>
        </div>
        <div class="col-md-8 col-md-pull-4">
            {% if app.framebuffer.use_sudo %}
                <div class="alert alert-danger" role="alert">
                    <strong>Warning!</strong> Sudo is being used !
                </div>
            {% endif %}
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>Element</th>
                        <th>Thumbnail</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% if app.request.query.get("path") %}
                    <tr>
                        <td colspan="3">
                            <i class="fa fa-folder-open-o fa-lg"></i> <a href="?path={{ parent_dir }}">Parent Directory</a>
                        </td>
                    </tr>
                {% endif %}
                {% for folder in items.folders %}
                    <tr>
                        <td colspan="3">
                            <i class="fa fa-folder-open-o fa-lg"></i> <a href="?path={{ folder.path }}">{{ folder.filename }}</a>
                        </td>
                    </tr>
                {% endfor %}
                {% for image in items.images %}
                    <tr>
                        <td>
                            <i class="fa fa-file-image-o fa-lg"></i> {{ image.filename }}
                        </td>
                        <td>
                            <a href="#" rel="popover" data-placement="left" data-img="{{ mini|default(notfound) }}">
                                <img src="{{ micro|default(micro_notfound) }}" />
                            </a>
                        </td>
                        <td>
                            <a href="#{{ image.path }}" title="Afficher" data-command="yes"><i class="fa fa-play-circle fa-2x"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        
    </div>
</div>
<script type="text/javascript">
    var publishUri = "{{ app.url_generator.generate('publish') }}";
    var fbiCheckUri = "{{ app.url_generator.generate('checkfbi') }}";
</script>
<script src="{{ app.request.basepath }}/assets/js/jquery.min.js"></script>
<script src="{{ app.request.basepath }}/assets/js/bootstrap.min.js"></script>
<script src="{{ app.request.basepath }}/assets/js/app.js"></script>
</body>
</html>
