<!doctype html>
<html class="no-js" lang="fr">
<head>
    <meta charset="UTF-8">
    <title>piTitle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">

</head>
<body>
{% include 'includes/_navbar.twig' %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>Element</th>
                        <th>Thumbnail</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td colspan="3"><small>Base folder: {{ basedir }} | Relative folder : {{ relative_dir }}</small></td>
                    </tr>
                </tfoot>
                <tbody>
                {# Folders only #}
                {% for folder in images if ( folder.isDir() and not (folder.isDot() and is_root_folder)) %}
                    <tr>
                        <td colspan="3">
                            <i class="fa fa-folder-open-o fa-lg"></i> <a href="?path={{ folder.fileName }}">{{ folder.fileName }}</a>
                        </td>
                    </tr>
                {% endfor %}
                {% for image in images  if image.isFile ()%}
                    {% if is_root_folder %}
                        {%  set micro = app.url_generator.generate('thumb', {width: 50,height: 50, filename: image.fileName}) %}
                        {%  set mini = app.url_generator.generate('thumb', {width: 250,height: 250, filename: image.fileName}) %}
                    {% else %}
                        {%  set micro = app.url_generator.generate('thumb', {width: 50,height: 50, subfolder: relative_dir, filename: image.fileName}) %}
                        {%  set mini = app.url_generator.generate('thumb', {width: 250,height: 250, subfolder: relative_dir,filename: image.fileName}) %}
                    {% endif %}
                    <tr>
                        <td>
                            <i class="fa fa-file-image-o fa-lg"></i> {{ image.fileName }}
                        </td>
                        <td>
                            <a href="#" rel="popover" data-placement="left" data-img="{{ mini }}">
                                <img src="{{ micro }}" />
                            </a>
                        </td>
                        <td>
                            <a href="#{{ image.pathName }}" title="Afficher" data-command="yes" data-toggle="tooltip" data-placement="right"><i class="fa fa-play-circle fa-2x"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <div class="panel panel-warning">
                <div class="panel-body" >
                    <ul>
                        <li>Running <abbr title="FrameBuffer Images">FBI</abbr> instances : <span id="fbicount">X</span></li>
                        <!-- <li><a href="{{ app.url_generator.generate('kill') }}" id="killall">Kill all instances</a></li> -->
                    </ul>

                </div>
            </div>
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Last sent image</h3>
                </div>
                <div class="panel-body" id="imgdisplay">
                    <em>No image&hellip;</em>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Last command result</h3>
                </div>
                <div class="panel-body" id="cmdresult">
                    <em>No command sent&hellip;</em>
                </div>
            </div>

        </div>
    </div>
</div>
<script type="text/javascript">
    var publishUri = "{{ app.url_generator.generate('publish') }}";
    var fbiCheckUri = "{{ app.url_generator.generate('checkfbi') }}";
</script>
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/app.js"></script>
</body>
</html>